.main-container{
    width: 100%;

}
.toolbar{
    width: 100%;
    background-color: #367AF6;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    // font-weight: 500;
    font-family: "Roboto",sans-serif;
}
.content{
    padding: 10px 15px 10px 15px;
}