<ion-header>
  <!-- <ion-toolbar class="new-background-color"> -->
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="Padding0" style="padding: 0;">
      <div class="TitleHeader">
        <div class="TitleText">

          <div style="width: 80%; font-size:17 ">
            Customers
          </div>
        </div>

      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div align="left" style="margin: 10px">
    <ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list *ngIf="isItemAvailable">
        <ion-item *ngFor="let item of items">{{ item }}</ion-item>
    </ion-list>
  
  </div>

  <div class="cl-center-title" fxLayout="row" fxLayoutAlign="center center">
    <ion-icon name="person-add" style="color:rgb(18, 118, 199);width:20px; height: 20px"></ion-icon>
    <ion-label style="color:rgb(18, 118, 199); " >Add Customer</ion-label>
  </div>
  
  <!-- <ion-row (click)="addCustomaer()">
    <ion-col size="12" align="center">
      <ion-icon name="person-add" style="color:rgb(18, 118, 199);width:20px; height: 20px"></ion-icon>
      <ion-label style="color:rgb(18, 118, 199); " >Add Customer</ion-label>
    </ion-col>
  </ion-row> -->

  <div *ngFor="let daata of getCusstomers; index as i">
    <ion-item (click)="getCustomerDetailInfo(daata)" style="margin-left:-20px">
      <div style="margin-left:30px">
       
    <button style="width:35px; height: 35px; border-radius: 50%;margin-right: 15px ; color: #ffffff" [ngClass]="(i % 2 == 0) ? 'odd' : 'even' ">{{daata.name.charAt(0) | uppercase}}</button>
      </div>
      {{daata.name | titlecase}}
    </ion-item>
  </div>
 
  <ion-item>
  </ion-item>

<!-- 
  <div class="editCss" (click)="addCustomaer()">
   

      <ion-label style="color:white;" align="center">Add Customer</ion-label>
    
    </div> -->

<!-- <button mat-raised-button class="FixedButton" (click)="addCustomaer()"> <img
  src="../../assets/AddRestro.png" width="30" height="30"> </button> -->
</ion-content>

