.FullWidth{
    width:100%;
    margin-top: 30px;
}

.inputCss{
     color: black; 
     width: 70%; 
     margin-left: 15%; 
    margin-right: 15%;
    margin-top:7px;
}

.labelCss{
    margin-top:15% !important;
}

.TitleHeader{
    width: 100%;
    // padding: 0 10px 0 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    // background-color: blue;
}
.TitleText{
    display: inline-flex;
    text-align:left;
    font-size: 18px;
    width: 81%;
    color: #ffffff;
    // font-weight: 700;
    align-items: center;
}

.BackButton{
    background: url('../../assets/back_white.png') center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    outline: 0;
    box-shadow: 0 0 0 0;
    margin-right: 15px;
}

.new-background-color{
    --background: #d2691e;
}

.buttonCss{
    color: white; 
    width: 70%; 
     margin-left: 15%; 
    margin-right: 15%;
    font-size: 17px;
    padding: 12px;
    background: #3255f3;
   
   border-radius: 15px;
   margin-top:20px;
   margin-bottom:20px;
}



.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    margin-top: 20px;
    height: 70px;
    margin-top:10%;
    border-radius: 50%;
  }

  .submitButton{
   
    height: 48px;	
    width: 70%; 
     margin-left: 15%; 
    margin-right: 15%;
    border-radius: 25px;	
    background-color: #3255f3;
    color: #FFFFFF;	
    font-family: 'Roboto',sans-serif;	
    font-size: 15px;	
    // position: fixed;
    // bottom: 10px;
    // right: 10px;
}

.saveText{
    display: inline-flex;
    text-align:left;
    font-size: 1.3rem;
    width: 81%;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
}
  